/*=========================================
Reset
=========================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


html, body {
	height: 100%;
}

body {
	margin: 0;
	font:13px/1.4 "colfax-web", "Helvetica Neue",Helvetica,Arial,sans-serif;
	background: #282C33;
}

a {
	text-decoration: none;
	color:#888;
	font-weight: 400;
}

h1 {
	font-size: 15px; font-weight: 400;
	background: #8ECFEE;
	padding: 30px 20px;
	color: #fff; color: rgba(255,255,255,.7);
	max-height: 75px;
}

h1 a {
	color: #fff; font-weight: bold; 
	text-transform: uppercase; margin-right: 3px;
}

.navigation {
	position: absolute;
	top: 0; bottom: 0; left: 0;
	width: 22%;
	background: #fff;
	min-width: 200px;
	height: 100%;
}

.navigation ul {
	list-style: none;
}

.navigation ul li {
	line-height: 1.5;
}

.navigation ul li a {
	padding: 13px 20px 10px 20px;
	display: block;
	background: #fff;
}

.navigation ul li a:hover {
	background: #fafafa;
}

.navigation ul li+li {
	border-top: 1px solid #eee;
}

a.active {
	font-weight: 500;
	color: #333;
	position: relative;
}

#code {
	position: absolute;
	top: 0px; bottom: 0px; height: 100%;
	left: 22%;
	width: 33%;
	background: #282C33; 
	border: none;
	border-right: 1px solid #343840;
	min-width: 200px;
}

#example {
	position: absolute;
	top: 0px;
	bottom: 0px;
	height: 100%;
	left: 55%;
	width: 45%;
	background-color: #282C33;
	border: none;
	min-width: 400px;
}

a.download {
	position: absolute; top: 10px; right: 10px;
	padding: 8px 18px;
	border-radius: 4px; 
	z-index: 100; background: #7ec729;
	color: #fff;
	font-weight: 500; font-size: 13px;
}

/* ================= Customs scrollbar ================= */

::-webkit-scrollbar {
	background: #282C33;
	width: 6px;
}
 
 
::-webkit-scrollbar-thumb {
	background: #343840;
	border-radius: 6px;
}

@media only screen and (max-width: 640px) {
#code, #example, .navigation, a {
	display: none;
}

body {
	text-align: center;
}

body:after {
	content: "Please visit on a Desktop browser!";
	display: inline-block;
	position: relative; top: 60px;
	text-align: center; z-index: 30;
	color: #fff;
	color: rgba(255,255,255,.5);
	font-size: 13px;
}

}


