{% extends "base.html" %}
{% block content %}


<script src="//code.jquery.com/jquery.min.js"></script>
<script src="{% static '/js/index.js' %}"></script>

<section id="wrapper">
<div class="navigation">
	<h1>Framer Examples </h1>
	<ul>
	{% for example in examples %}
		<li><a href="#{{ example.path }}">{{ example.name }}</a></li>
	{% endfor %}
	</ul>
	<a class="framer" href="http://www.framerjs.com">framerjs.com</a>
</div>

<iframe id="code" name="code" src=""></iframe>
<iframe id="example" name="example" src="">
</iframe>

{% for example in examples %}
<a class="download" href="/static/examples/{{ example.path }}.zip">Download</a>
{% endfor %}

</section>
{% endblock content%}
