{% extends "base.html" %}
{% block content %}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script></script>
<script src="{% static '/js/index.js' %}"></script>

<section id="wrapper">
<div class="navigation">
	<h1><a href="http://www.framerjs.com">Framer</a> Examples</h1>
	<ul>
	{% for example in examples %}
		<li><a href="#{{ example.path }}">{{ example.name }}</a></li>
	{% endfor %}
	</ul>
</div>

<iframe id="code" name="code" src=""></iframe>
<iframe id="example" name="example" src=""></iframe>

<a class="download" href="#">Download .zip</a>

</section>
{% endblock content%}
