{% extends "base.html" %}
{% block content %}


<script src="//code.jquery.com/jquery.min.js"></script>
<script src="{% static '/js/index.js' %}"></script>

<section id="wrapper">
<div class="navigation">
	<h1>Examples </h1>
	<ul>
	{% for example in examples %}
		<li><a href="#{{ example.path }}">{{ example.name }}</a></li>
	{% endfor %}
	</ul>
	<a class="framer" href="http://www.framerjs.com">Back to framerjs.com</a>
</div>

<iframe id="code" name="code" src=""></iframe>
<iframe id="example" name="example" src=""></iframe>

<a class="download" href="#">Download .zip</a>

</section>
{% endblock content%}
