* {
	margin:0;
	padding:0;
	border:none;
	-webkit-user-select:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

body {
	margin:0;
	padding:0;
	background: black url('/static/images/background.png') repeat scroll top left;
	font: 28px/1em "Helvetica";
	color: #FFF;
}

@media screen and (max-height: 900px) {
#FramerRoot {
	zoom: 0.5;
	position: absolute;
	top: 1px;
	left: 1px;
}
}