* {
	margin: 0;
	padding: 0;
	border: none;
	cursor: url("images/chrome-bobble.png") 39 39, auto;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	background: black url("images/background.png") repeat scroll top left;
	font: 300 24px/1 "Helvetica Neue", Helvetica; vertical-align: middle;
	color: #FFF;
	-webkit-font-smoothing: antialiased;
	text-align: center;
}

a {
	color: #FFF;
}

::-webkit-scrollbar {
	display: none;
}

.framerAlert {
	font: 12px/1.6em Menlo;
	margin: 10px;
}